/* Global */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
}
h1 {
    /* font-size: 2.5em; */
    /* font-size: 36px; */
    font-weight: bold;
}
body {
    background-color: #16151d;
    /* background-color: #f5f5f5; */
}
/* header top */
.logo-hero {
    width: 40%;
}

.test-color {
    background-color: #fff;
}

@media screen and (max-width: 576px) {
    .logo-hero {
        width: 100%;
    }

    .top-form {
        width: 100%;
    }
}

/* navbar */
.nav-top {
    background-color: #16151d;
}
.nav-area {
    background-color: #b8180a;
    text-align: left;
    margin: 0 !important;
    padding: 0;
}
.nav-area button {
    background-color: #fff;
}

.nav-item a {
    color: #fff;
    font-weight: bold;
    font-size: 20pt;
}

.search-form-mob {
    display: none;
}
.nav-navbar {
    padding: 0 !important;
}

.btn-color-orange {
    color: #b8180a;
}

.btn-color-white {
    color: #fff;
}

@media screen and (max-width: 768px) {
    /* .logo-top-hero {
      width: 50%;
    } */
}

@media screen and (max-width: 576px) {
    .navbar-collapse {
        display: flex;
        justify-content: center;
    }

    .search-form {
        display: none;
        width: 100%;
    }

    .search-form-mob {
        display: block;
        width: 80%;
    }
    .logo-universe img {
        width: 100%;
    }
    .nav-navbar {
        padding: 5px 5px !important;
    }
}
/* body */
.body-area {
    padding: 0 10px 0 0 !important;
    margin: 0 0 0 0 !important;
}

@media screen and (max-width: 768px) {
    .body-area {
        padding: 0 0 0 0 !important;
        margin: 0 0 0 0 !important;
    }
}
/* carousel popular */
.carousel-popular {
    width: 100%;
    height: 100%;
    background-color: #222222;
    color: #fff;
    border: 1px solid #d6d6d6;
    padding: 0 !important;
    /* border-radius: 10px; */
}

.img-carousel img {
    width: 100%;
}

.carousel-des {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 576px) {
    .img-carousel img {
        height: 100%;
    }
}

/* card popular */
.box-popular {
    border: 1px solid #d6d6d6;
    background-color: #222222;
}

.card-popular {
    color: #fff;
}
.card-groub {
    background-color: #16151d;
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid #b8180a;
}

.card {
    text-align: center;
    background-color: #222222;
    color: white;
}
.row-card {
    padding: 0 !important;
    margin: 0 !important;
}

.checked {
    color: orange;
}

.col-card-set {
    padding: 1px;
    margin: 0 !important;
}

.card-popular-set {
    height: 100%;
}
.card-popular-set img {
    width: 100%;
    height: 170px;
    object-fit: cover;
}

.box-popular section {
    border-bottom: 1px solid #fff;
    margin: 10px;
    font-weight: bold;
    font-size: 20pt;
    color: #fff;
}

@media screen and (max-width: 576px) {
    .card-popular-set {
        height: 100%;
    }
}

/* last update */
.row-asd {
    padding: 0;
    margin: 0;
}
.box-last-update {
    background-color: #222222;
    border: 1px solid #d6d6d6;
    margin-top: 10px;
}
.last-update {
    background-color: #16151d;
    color: #fff;
}
.img-update {
    padding: 0;
    margin: 0;
}

.update-des {
    padding: 0;
    margin: 0;
    color: #fff;
}
.box-last-update section {
    border-bottom: 1px solid #fff;
    margin: 10px;
    font-weight: bold;
    font-size: 20pt;
}

@media screen and (max-width: 576px) {
    .card-update {
        display: flex;
        flex-direction: column;
    }
    .img-update img {
        width: 80%;
    }
    /* .last-update p {
      font-size: 20pt;
    } */
}

/* section area */
.section-area {
    padding: 0;
    margin: 0;
}

.rec-area img {
    width: 100%;
    height: 120px;
    object-fit: cover;
}
@media screen and (max-width: 768px) {
    .section-area {
        padding-top: 10px;
    }
}
/* recomend */
.rec-area {
    background-color: #222222;
    border: 1px solid #d6d6d6;
    padding: 10px;
    margin: 0;
}
.rec-area-section {
    padding: 0;
    margin-bottom: 10px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    color: #000;
    font-weight: bold;
    font-size: larger;
}
.rec-area-com {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}
.rec-area-img img {
    width: 100%;
}

.rec-area-des h5 {
    color: #b8180a;
    margin: 0;
    font-weight: bold;
}

.rec-area-des p {
    color: #fff;
    font-size: 8pt;
    margin: 0;
}
/* chat */
.chat-area {
    background-color: #fff;
    padding: 10px;
    margin: 0;
    height: 400px;
}
.chat-header {
    background-color: #c4c4c4;
    color: #000;
    display: flex;
    justify-content: center;
    border: 1px solid #fff;
    border-radius: 20px;
}
.chat-area h1 {
    margin: 0;
}

/* footer */
.empty-area {
    background-color: #b8180a;
    margin-top: 20px;
    padding-bottom: 0;
}
.footerr {
    background-color: #282828;
    text-align: center;
    padding: 0;
    /* color: white; */
}

/* button */

.activee {
    background-color: aqua !important;
}
.active,
.btn:hover {
    background-color: #16151d !important;
    color: white;
}

.btn-set {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: #b8180a;
    cursor: pointer;
    font-size: 18px;
    border-radius: 0;
}
.navbar-expand-md {
    padding: 0 !important;
}
@media screen and (max-width: 576px) {
    /* .btn-set {
      width: 400px;
    } */
    .navbar-expand-md {
        padding-top: 10px;
    }
    .active,
    .btn:hover {
        background-color: #b8180a !important;
        color: black !important;
    }
}
