.title-comic {
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.section-show-comic {
    color: white;
    border: 1px solid white;
    padding-left: 5px;
    background-color: #282828;
    margin-bottom: 10px;
}

.menu-show-comic {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.sectiom-comic-other {
    background-color: #282828;
    border: 1px solid white;
    color: white;
    padding-left: 5px;
}

@media screen and (max-width: 576px) {
    .container-mob {
        padding: 0;
    }
}

/* d-flex justify-content-center text-light flex-column align-items-center */
